* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* .user-image {
    width: 540px;
    position: absolute;
    right: 8%;
    bottom: 0;
} */

@media(min-width:768px) {
    .news-input {
        width: 50%;
    }
}

#client {
    background-color: #34465D;
    color: white;
}

.title h2 {
    font-weight: bold;
}

.timeline {
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    box-sizing: border-box;
}

.timeline:before {
    content: " ";
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
}